body, html {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans';
    min-width: 800px;
}
body {
    position: relative;
}
#player-video {
    position: absolute;

    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}
.player-overlay {
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 2;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    background: linear-gradient(to bottom, rgba(6,45,41,0.76) 0%,rgba(8,34,40,0.5) 100%);
}
h1, h2, h3, h4, h5, #header-main-title {
      font-family: 'Oswald', sans-serif;
}
.slide {
    width: 100%;
    min-height: 100%;
    z-index: 3;
}
.mini-slide {
    width: 100%;
    z-index: 3;
    padding-bottom: 60px;
}
.slide h1,
.mini-slide h1 {
    padding-top: 40px;
    font-size: 70px;
    padding-bottom: 30px;
}

.header-container {
    margin:0px auto;
    width: 600px;
    padding-top: 150px;
    text-align: left;
}
.bottom-arrow {
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
}
.bottom-arrow img {
    width: 100px;
    text-align: center;
}
.bottom-arrow a {
    display: inline-block;
    padding: 30px;
}

#about-slide {
    background-color: rgb(17, 12, 36);
    radial-gradient(circle at bottom, rgb(88, 27, 102) 0%, rgb(52, 28, 104) 50%, rgb(17, 12, 36) 100%);
    background-image: url(http://api.thumbr.it/whitenoise-361x370.png?background=ffffff00&amp;noise=626262&amp;density=70&amp;opacity=15);
}

#about-container {
    font-size: 50px;
    padding-top: 300px;
}

#header-main-title {
    color: #DEEAF4;
    font-size: 130px;
}

#header-second-title {
    color: #DEEAF4;
    font-size: 60px;
    line-height: 70px;
    padding-top: 20px;
}

#location-container {
    padding-top: 10px;
    color: #DEEAF4;
    font-size: 20px;
}

#location-header {
    font-size: 30px;
    padding-top: 10px;
}

#location-slide {
    background-image: url(/static/img/locationbg.png);
}
#location-description {
    font-family: 'Open Sans';
    padding-top: 0px;
    margin-top: 0px;
    font-size: 30px;
}

#location {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 40px;
    padding-top: 90px;
}
#location .at {
    font-size: 30px;
}
#speakers-slide {
    background-color: rgb(230, 230, 230);
    padding-bottom: 60px;
}
#schedule-slide {
    background-color: rgb(230, 230, 230);
}
#media-slide {
    background-color: rgb(230, 230, 230);
}
#info-slide {
    background-color: rgb(230, 230, 230);
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.8)), url(/static/img/infobg.jpg) center bottom / cover no-repeat;
    padding-bottom: 60px;
    padding-top: 40px;
}
#info-slide h2 {
    margin-top: 50px;
}
#info-slide p {
    padding-bottom: 10px;
}
#get-your-tickets {
    text-align: center;
    margin-top: 40px;
}
#get-your-tickets .btn {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
    font-family: 'Open Sans';
    background-color: darkred;
    color: white;
}
.person {
    padding-bottom: 20px;
}
.person p {
    font-size: 18px;
}
.person h2 strong {
    font-weight: normal;
    font-size: 50%;
    padding-left: 10px;
    padding-top: -10px;
    color: rgb(100, 100, 100);
}
.schedule {
    font-size: 20px;
    padding-top: 20px;
    margin-bottom: 40px;
}
.schedule .time {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    padding: 5px;
    margin: 0px;
}
.schedule .what {
    font-family: 'Open Sans';
    padding: 5px;
}
.schedule .what h4 {
    font-family: 'Open Sans';
    padding: 0px;
    margin: 0px;
}
#info-slide h2 {
    padding-top: 20px;
    padding-bottom: 5px;
}
#info-slide p {
    font-size: 26px;
}
#insp-pic-slide1 {
    background-image: url(/static/img/gthong2014_seminar.jpg);
    background-attachment: fixed;
    background-size: cover;
    min-height: 600px;
}
#insp-pic-slide2 {
    background-image: url(/static/img/gthong2014_fun1.jpg);
    background-attachment: fixed;
    background-size: cover;
    min-height: 600px;
}
.ad-quote {
    font-size: 60px;
    font-family: 'Oswald', sans-serif;
    color: white;
    padding: 10px;
    background: rgba(0, 0, 0, 0.4);
    display: inline-block;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 120px;
    margin-bottom: 120px;
}
.ad-quote strong {
    color: #db07e8;
}
.ad-quote-bigger {
    font-size: 130px;
    margin: 0px auto;
    margin-top: 110px;
    margin-bottom: 110px;
    text-align: center;
    display: inline-block;
}
.black-opacity-bg {
    margin-top: 100px;
}
.black-opacity-bg h1 {
    background: rgba(0, 0, 0, 0.6);
    display: inline-block;
    padding: 20px;
    color: rgb(240, 240, 240);
    margin-bottom: 50px;
    margin-top: 0px;
}
.black-opacity-bg p {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    color: rgb(240, 240, 240);
    font-size: 30px;
}
#footer-slide {
    background: linear-gradient(rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.2)), url(http://www.graffathon.fi/media/photos/20140614_092501.jpg) center bottom / cover no-repeat;
    color: rgb(230, 230, 230);
    padding-bottom: 80px;
}
#footer-slide h2 {
    padding-top: 100px;
}
.white-50-image-bg {
    padding: 10px;
    max-height: 300px;
}
.white-image-bg {
    background-color: white;
    padding: 10px;
    max-height: 300px;
}
.logo {
    width: 130px;
    font-size: 30px;
}
.team-photos {
    margin-bottom: 30px;
}
.team-photos img {
    border-radius: 100%;
    float:left;
    width: 150px;
    height: 150px;
    padding: 10px;
}
.navbar-brand {
    font-family: 'Oswald';
}
#media-slide iframe {
    width:100%!important;
}