
<!doctype html>

<html lang="en">
<head>
  <link href="http://fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap-theme.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <meta charset="utf-8">
  <title>Graffathon</title>
  <!--
  CREDITS:
  bottom_arrow.svg - Molly Bramlet - CC BY 3.0
  -->
</head>

<nav class="navbar navbar-inverse navbar-fixed-top" style="z-index: 6;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                GRAFFATHON
            </a>
        </div>
        
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#speakers-slide">
                    Speakers
                </a></li>
                <li><a href="#schedule-slide">
                    Schedule
                </a></li>
                <li><a href="#location-slide">
                    Location
                </a></li>
                <li><a href="#info-slide">
                    Info
                </a></li>
            </ul>
        </div>
    </div>
</nav>

<body>
    <video autoplay loop poster="polina.jpg" id="player-video">
      <source src="{{ url_for('static', filename='video/test.mp4') }}#t=24" type="video/mp4">
    </video>
    <div class="player-overlay">
        <div class="header-container">
            <div id="header-main-title">GRAFFATHON</div>
            <div id="location-container">
                <!--<div id="location-header">14. – 15.6.2014 at Espoo, Finland</div> -->
                <p id="location-description">Graffathon is a two-day computer graphics hackathon aimed for novices. Every participant will create a non-interactive multimedia presentation (also known as <em>demo</em>).</p>
                <div id="location"><span>11.6.2015—12.6.2015</span> <span class="at">at</span> <span title="Otaniemi, Espoo, Finland">Otaniemi</span></div>
                <!--<div id="get-your-tickets">
                  <a href="#" class="btn btn-large">Get your ticket</a>
                </div>-->
            </div>
        </div>
        <div class="bottom-arrow">
          <a href="#about-slide"><img src="{{ url_for('static', filename='img/bottom_arrow.svg') }}" alt="Read more" /></a>
        </div>
    </div>
    <div class="slide"></div>
    <div class="slide" id="speakers-slide">
      <div class="container">
        <h1>Speakers</h1>
        <!--<div class="row">
          <div class="col-md-4">
            <img src="http://lorempixel.com/400/400/people/1" style="border-radius: 100%;">
            <h2>Ryan Bower</h2>
            <p>Ryan specializes in blablablablaba</p>
          </div>
          <div class="col-md-4">
            <img src="http://lorempixel.com/400/400/people/2" style="border-radius: 100%;">
            <h2>Ryan Bower</h2>
            <p>Ryan specializes in blablablablaba</p>
          </div>
          <div class="col-md-4">
            <img src="http://lorempixel.com/400/400/people/3" style="border-radius: 100%;">
            <h2>Ryan Bower</h2>
            <p>Ryan specializes in blablablablaba</p>
          </div>
        </div>-->
        <div class="row person">
          <div class="col-xs-2">
            <img src="http://holidaypictures.org/wp-content/uploads/2015/01/hug-a-tall-person-day-5.jpg" style="border-radius: 100%; width: 100%; height: 100%;">
          </div>
          <div class="col-xs-10">
            <h2>Allan Welch</h2>
            <p>Ryan Boer will show us how to do awesome stuff with Processing.</p>
          </div>
        </div>
        <div class="row person">
          <div class="col-xs-2">-
            <img src="https://pbs.twimg.com/profile_images/575097667514015745/zLEQNSs_.png" style="border-radius: 100%; width: 100%; height: 100%;">
          </div>
          <div class="col-xs-10">
            <h2>Cherly Murray</h2>
            <p>Ryan Boer will show us how to do awesome stuff with Processing.</p>
          </div>
        </div>
        <div class="row person">
          <div class="col-xs-2">
            <img src="https://lh6.googleusercontent.com/-9N0Ep_nnTdA/AAAAAAAAAAI/AAAAAAAAAHE/wmzR9xX-6XI/photo.jpg" style="border-radius: 100%; width: 100%; height: 100%;">
          </div>
          <div class="col-xs-10">
            <h2>Andy Carlson</h2>
            <p>Ryan Boer will show us how to do awesome stuff with Processing.</p>
          </div>
        </div>
        <div class="row person">
          <div class="col-xs-2">
            <img src="https://lh5.googleusercontent.com/-JjgHg6dhv14/AAAAAAAAAAI/AAAAAAAAAEU/EWR40WYMNGg/photo.jpg" style="border-radius: 100%; width: 100%; height: 100%;">
          </div>
          <div class="col-xs-10">
            <h2>Ryan Bower</h2>
            <p>Ryan Boer will show us how to do awesome stuff with Processing.</p>
          </div>
        </div>

      </div>
    </div>
    <div class="slide" id="insp-pic-slide1">
      <div class="ad-quote">
        <strong>"</strong>
        Tapahtumasta jäi hyvä mieli, vaikka en päässytkään paikalle koko ajaksi
        ja siksi pystynyt osallistumaan kompoihin.
        Tapahtuma oli oikeasti aloittelijaystävällinen.
        <strong>"</strong>
      </div>
    </div>
    <div class="slide" id="schedule-slide">
      <div class="container">
        <h1>Schedule</h1>
        {% for x in ['Saturday 11.6.2015', 'Sunday 12.6.2015'] %}
          <h2>{{ x }}</h2>
          <div class="schedule">
            <div class="row">
              <div class="col-xs-2 time">9.45 - 10.00</div>
              <div class="col-xs-10 what">
                <h4>Welcome speech</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-2 time">10.00 - 10.55</div>
              <div class="col-xs-10 what">
                <h4>Graffathon Coding Basics by <strong>Andy Carlson</strong></h4>
              </div>
            </div>

            {% for x in range(6) %}
              <div class="row">
                <div class="col-xs-2 time">11.00 - 12.00</div>
                <div class="col-xs-10 what">
                  <h4>Some Lorem Lapsum Stuff</h4>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="slide" id="insp-pic-slide2">
      <div class="container">
        <div class="ad-quote ad-quote-bigger">
          <strong>"</strong>
          HELVETIN HYVÄ
          <strong>"</strong>
        </div>
      </div>
    </div>
    <div class="slide" id="location-slide">
      <!--<iframe width="600" height="450" frameborder="0" style="border:0; width: 100%; min-height:100%;"
src="https://www.google.com/maps/embed/v1/place?q=Startup%20Sauna%2C%20Espoo%2C%20Finland&key=AIzaSyBM-nmwhSNGk7gQwWmUw6CWpVOqR3qZ8xY"></iframe>-->
      <div style="position: absolute; width: 100%; height:100%;">
        <div id="map-canvas" style="width: 100%; height: 100%;" width="500" height="500"></div>
        <div style="position: absolute; top: 0px; left:0px; width: 100%; height: 100%;">
          <div class="container">
            <div style="row">
              <div class="col-md-6 black-opacity-bg">
                <h1>Location</h1>
              </div>
              <div class="col-md-6 black-opacity-bg">
                <p>The event is held in <strong>Startup Sauna</strong> in Espoo, near Helsinki. The place can be reached easily with busses such as 102T and 550 or by car.</p>
                <p>
                  Betonimiehenkuja 3 D<br>
                  02150 Espoo
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slide" id="info-slide">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2>Yleistä tietoa</h2>
            <p>Graffathon on hackathon, jossa on tarkoitus tutustua grafiikkaohjelmointiin sekä tietokonegrafiikan tuotantoon itse asioita kokeillen joko yksin tai pienissä tiimeissä (2-3 henkilöä). Samalla osallistujat on tarkoitus tutustuttaa yleisesti demoskeneen. Ohjelma koostuu aloittelijoille räätälöidyistä presiksistä sekä workshopeista, joita vetävät demoskenessä pidempään toimineet henkilöt sekä muut vapaaehtoiset (myös sinä voit halutessasi tulla pitämään workshopin!).</p>
            <p>Tapahtumassa osallistujille annetaan kaikki tarvittavat työkalut ja materiaali alkuun pääsemiseksi. Paikan päällä on myös saatavilla jatkuvasti apua ongelmatilanteisiin.</p>

            <h2>Viestintä</h2>
            <p>Yhteyden järjestäjiin saa parhaiten lähettämällä sähköpostia allaolevaan osoitteeseen. Tapahtumaa varten on myös perustettu kanava IRCnet-verkkoon, jonne kannattaa ehdottomasti liittyä heti. Irkistä voi tulla kyselemään epäselviä asioita sekä pyytämään apua tapahtuman aikana.</p>

            <p>Yhteystyökyselyissä ota yhteys tapahtuman pääjärjestäjään – katso tiedot tiimisivulta.</p>
              Sähköposti
    dot-hallitus[at]list.ayy.fi
    IRC-kanava
    #graffathon @ IRCnet
          </div>
          <div class="col-md-6">
            <h2>Osallistuminen</h2>
            <p>  Voit osallistua tapahtumaan, mikäli sinulla ei ole juurikaan aiempaa kokemusta tietokonegrafiikan saralta (lukuunottamatta esimerkiksi kursseja koulussa). Emme kuitenkaan halua rajoittaa liikaa osallistumiskriteerejä, joten mikäli koet olevasi aloittelija, voit osallistua, vaikka olisitkin joskus esimerkiksi julkaissut demon. Mikäli olet koodannut enemmänkin grafiikkaa, ota yhteys tapahtuman järjestäjiin ja tule puhumaan tai vetämään workshop!</p>
            <p> Ilmoittautuminen tapahtuu erillisellä sivulla. Täytä tietosi ja maksa osallistumismaksu, niin pääset mukaan! Saat ilmoittautumisen jälkeen sähköpostin, joka sisältää maksuohjeet. Maksettuasi maksun olet mukana tapahtumassa.</p>
            <p> Tämän jälkeen sinun täytyy vain enää saapua paikalle. Tärkeintä on ottaa mukaan tietokone (pöytäkone tai läppäri), jolla tuotat varsinaisen kilpailutyön. Tietokoneen ei tarvitse olla tehokas! Keskitymme tapahtumassa perusasioihin, eikä tarkoitus ole tuottaa seuraavaa 3D-spektaakkelia. Jos sinulla itselläsi ei ole mukaan otettavaa tietokonetta, voit tulla tapahtumaan kaverisi kanssa ja työskennellä samalla koneella. Pariohjelmointi on hauskaa :-)</p>
            <p>  Otamme 25.5. asti ilmoittautumisia vastaan vain Aalto-yliopiston opiskelijoilta. Tämän jälkeen myös kaikki muut halukkaat voivat osallistua.</p>
            <h2>Tapahtumaan mahtuu 60 henkilöä.</h2>
            <p>  Tapahtumassa käytetään Processing-nimistä ympäristöä grafiikan tekemiseen. Tapahtuman järjestäjät tarjoavat hyvät pohjakoodit aloittamisen tueksi (huomattavasti paremmat kuin viime vuonna) sekä luonnollisesti muutakin opastusta tekemiseen. Voit toki halutessasi käyttää myös muita ympäristöjä, mutta viime vuonna Processing todettiin erittäin toimivaksi.</p>
            <h2>Käytettävä ohjelmointikieli ja työkalut</h2>
            <p>  Tapahtumassa käytetään Processing-nimistä ympäristöä grafiikan tekemiseen. Tapahtuman järjestäjät tarjoavat hyvät pohjakoodit aloittamisen tueksi (huomattavasti paremmat kuin viime vuonna) sekä luonnollisesti muutakin opastusta tekemiseen. Voit toki halutessasi käyttää myös muita ympäristöjä, mutta viime vuonna Processing todettiin erittäin toimivaksi.</p>
            <p>  Mallinuskilpailussa suositellaan käytettäväksi Blenderiä (myös tästä on tulossa workshop / presentaatio). Piirustuskilpailuun saa osallistua vapaavalintaisella ohjelmalla tehdyllä kuvalla.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="slide" id="footer-slide">
      <div class="container">
        <h2>Sponsored by</h2>
        <div class="row">
          <div class="col-md-4">
            <div style="font-family:Oswald; color:rgb(230, 230, 230); background-color:rgb(40, 80, 120); padding: 30px; font-size: 70px; text-align: center; height: 1250x; line-height: 250px; text-shadow: rgba(23, 23, 23, 0.5) 2px 2px 8px;">
              YOU
            </div>
          </div>
        </div>

        <h2 style="opacity: 0;">Organized by</h2>
        
        <div class="team-photos clearfix">
          <img src="http://www.graffathon.fi/static/img/team/antti.png">
          <img src="http://www.graffathon.fi/static/img/team/paula.jpg">
          <img src="http://www.graffathon.fi/static/img/team/ville.jpg">
          <img src="http://www.graffathon.fi/static/img/team/nils.png">
          <img src="http://www.graffathon.fi/static/img/team/sooda.jpg">
        </div>
        <div class="row">
          <div class="col-md-6 clearfix">
            <img class="logo" src="/static/img/inverted_dot_logo.svg" style="float:left;">
            <div style="float:left; font-size: 25px; line-height: 25x; padding-left: 40px; padding-top: 25px; font-family:Helvetica, Arial;">
              Digital Media Club<br>
              Aalto University
            </div>
          </div>
          <div class="col-md-6">
            <img src="http://aaltoes.com/wp-content/uploads/2015/02/aaltoeswireframe2.png" style="width: 100%;">
          </div>
        </div>

    </div>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBM-nmwhSNGk7gQwWmUw6CWpVOqR3qZ8xY"></script>
      <script type="text/javascript">
        function initialize() {
          console.log("ASD");
          //60.180593,24.83239,17z
          var MY_MAPTYPE_ID = 'custom_style';
          var mapOptions = {
            center: { lat: 60.180593, lng: 24.87039},
            zoom: 14,
            scrollwheel: false,
            navigationControl: false,
            mapTypeControl: false,
            scaleControl: false,
            draggable: false,    
            mapTypeControlOptions: {
              mapTypeIds: [google.maps.MapTypeId.ROADMAP, MY_MAPTYPE_ID]
            },
            mapTypeId: MY_MAPTYPE_ID,
            disableDefaultUI: true
          };
          var map = new google.maps.Map(
            document.getElementById('map-canvas'),
            mapOptions
          );
          var marker = new google.maps.Marker({
            position: { lat: 60.180593, lng: 24.83239},
            map: map,
            title: 'Startup Sauna'
          });
          marker.setAnimation(google.maps.Animation.BOUNCE);
          var featureOpts = [
              {
                stylers: [
                  { hue: '#deb510' },
                  { visibility: 'simplified' },
                  { gamma: 0.8 },
                  { weight: 0.5 }
                ]
              },
              {
                elementType: 'labels',
                stylers: [
                  { visibility: 'on' }
                ]
              },
              {
                featureType: 'water',
                stylers: [
                  { color: '#6da1f6' }
                ]
              }
          ];
          var styledMapOptions = {
            name: 'Custom Style'
          };
          var customMapType = new google.maps.StyledMapType(featureOpts, styledMapOptions);
          map.mapTypes.set(MY_MAPTYPE_ID, customMapType);
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</body>
</html>
