
<!doctype html>

<html lang="en">
<head>
  <link href="http://fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <meta charset="utf-8">
  <title>Graffathon</title>
</head>

<body>
    <iframe id="player" width="1280" height="720" src="https://www.youtube.com/embed/x4HbtyTlb9A?list=PLmRDkQf8W1WF7SONaMtqW6grVj9N44HkI&amp;autoplay=1&amp;loop=1&amp;controls=0&amp;disablekb=1&amp;modestbranding=1&amp;showinfo=0&amp;enablejsapi=1" frameborder="0" allowfullscreen style="width:100%; height:100%;"></iframe>
    <div class="player-overlay">
        <div class="header-container">
            <div id="header-main-title">Graffathon</div>
            <div id="header-second-title">TULE OPPIMAAN TIETOKONEGRAFIIKKAA!</div>
            <div id="location-container">
                <div id="location-header">14. – 15.6.2014, AppSpace, Otaniemi</div>
                <p id="location-description">Graffathon on n. 30 tunnin mittainen aloittelijoille suunnattu tietokonegrafiikkahackathon, jonka aikana on tarkoitus tuottaa audiovisuaalinen reaaliaikainen ohjelma eli demo.</p>
            </div>
        </div>
    </div>
    <div class="slide"></div>
    <div class="slide" id="about-slide">
        <div style="margin:0px auto; width: 600px; color: #DEEAF4;">
            <div id="about-container">
                I'm disappointed in the way we future-proof our minimum viable product. Let's please monetize our efforts.
            </div>
        </div>
    </div>
</body>
</html>