<!doctype html>

<html lang="en">
<head>
  <link href="http://fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap-theme.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <meta charset="utf-8">
  <title>Graffathon</title>
  <!--
  CREDITS:
  bottom_arrow.svg - Molly Bramlet - CC BY 3.0
  -->
</head>

<body data-spy="scroll" data-target="#navbar">
 <nav id="navbar" class="navbar navbar-inverse navbar-fixed-top" style="z-index: 6;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#video">GRAFFATHON</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#info-slide">Info</a></li>
                <!--
                <li><a href="#speakers-slide">Speakers</a></li>
                -->
                <li><a href="#schedule-slide">Schedule</a></li>
                <li><a href="#location-slide">Location</a></li>
                <li><a href="#media-slide">Twitter</a></li>
                <li><a href="#footer-slide">Sponsors</a></li>
            </ul>
        </div>
    </div>
</nav>

   <video autoplay loop poster="polina.jpg" id="player-video">
      <source src="{{ url_for('static', filename='video/test.mp4') }}#t=24" type="video/mp4">
    </video>
    <div id="video" class="player-overlay">
        <div class="header-container">
            <div id="header-main-title">GRAFFATHON</div>
            <div id="location-container">
                <!--<div id="location-header">14. – 15.6.2014 at Espoo, Finland</div> -->
                <p id="location-description">Graffathon is a two-day computer graphics hackathon aimed for novices. Every participant will create a non-interactive multimedia presentation (also known as <em>demo</em>).</p>
                <div id="location"><span>12.6.2015—14.6.2015</span> <span class="at">at</span> <span title="Otaniemi, Espoo, Finland">Otaniemi</span></div>
                <div id="get-your-tickets">
                  <a href="https://www.eventbrite.com/e/graffathon-tickets-16843093145" class="btn btn-large">Get your ticket</a>
                </div>
            </div>
        </div>
        <div class="bottom-arrow">
          <a href="#info-slide"><img src="{{ url_for('static', filename='img/bottom_arrow.svg') }}" alt="Read more" /></a>
        </div>
    </div>
    <div class="slide"></div>

    <div class="slide" id="info-slide">
      <div class="container">
        <div class="row">
            <h1>Graffathon 2015</h1>
            <p>Graffathon is a two-day computer graphics hackathon aimed for novices. Every participant will create a computer program that produces a non-interactive multimedia presentation also known as demo. The event is targeted at real beginners who have no previous graphics coding and/or demoscene experience. The demos can be done in small groups of two or three people. One can also make the demo by themselves or find a group at the event. </p>
            <p>
            The program consists of helpful presentations and workshops which guide you on how to create your first demo. In addition, we teach you the basics of demoscene and democulture.</p>

            <h2>Participation</h2>
            <p>To participate you only need basic programming skills (from any language) and basic math skills - you do not have to be able to code graphics, make music or draw. Just bring your computer. You will learn. We provide all the tools and material to get you started.</p>

            <p>Your computer does not have to be the latest and greatest (you do not need a crazy graphics card to try out graphics programming). Almost any computer will do. If you do not have have computer you can still work with your friend on one computer. Pair programming can be fun too!</p>

            <h2>Contact information</h2>
            <p>The event is organized by the active members of DOT board and the facilities are provided by Aalto ES.</p>

            <p>You can find us on IRC or send us email.</p>
            <p>
            <strong>Email: </strong> dot-hallitus[at]list.ayy.fi
            </p>
            <p>
            <strong>IRC: </strong> #graffathon @ IRCNet
            </p>
        </div>
      </div>
    </div>

    <div class="slide" id="insp-pic-slide2">
      <div class="container">
        <div class="ad-quote">
          <strong>"</strong>
          I would never have thought graphics programming could be this fun!
          <strong>"</strong>
        </div>
      </div>
    </div>

    <!--
    <div class="slide" id="speakers-slide">
      <div class="container">
        <h1>Speakers</h1>
        <div class="row person">
          <div class="col-xs-2">
            <img src="http://holidaypictures.org/wp-content/uploads/2015/01/hug-a-tall-person-day-5.jpg" style="border-radius: 100%; width: 100%; height: 100%;">
          </div>
          <div class="col-xs-10">
            <h2>Allan Welch</h2>
            <p>Ryan Boer will show us how to do awesome stuff with Processing.</p>
          </div>
        </div>
        <div class="row person">
          <div class="col-xs-2">-
            <img src="https://pbs.twimg.com/profile_images/575097667514015745/zLEQNSs_.png" style="border-radius: 100%; width: 100%; height: 100%;">
          </div>
          <div class="col-xs-10">
            <h2>Cherly Murray</h2>
            <p>Ryan Boer will show us how to do awesome stuff with Processing.</p>
          </div>
        </div>
        <div class="row person">
          <div class="col-xs-2">
            <img src="https://lh6.googleusercontent.com/-9N0Ep_nnTdA/AAAAAAAAAAI/AAAAAAAAAHE/wmzR9xX-6XI/photo.jpg" style="border-radius: 100%; width: 100%; height: 100%;">
          </div>
          <div class="col-xs-10">
            <h2>Andy Carlson</h2>
            <p>Ryan Boer will show us how to do awesome stuff with Processing.</p>
          </div>
        </div>
        <div class="row person">
          <div class="col-xs-2">
            <img src="https://lh5.googleusercontent.com/-JjgHg6dhv14/AAAAAAAAAAI/AAAAAAAAAEU/EWR40WYMNGg/photo.jpg" style="border-radius: 100%; width: 100%; height: 100%;">
          </div>
          <div class="col-xs-10">
            <h2>Ryan Bower</h2>
            <p>Ryan Boer will show us how to do awesome stuff with Processing.</p>
          </div>
        </div>

      </div>
    </div>
    -->
    <div class="slide" id="schedule-slide">
      <div class="container">
        <h1>Schedule</h1>

          <h2>Friday 12.6.2015</h2>
          <div class="schedule">
            <div class="row">
              <div class="col-xs-2 time">17.00</div>
              <div class="col-xs-10 what"><h4>Doors open</h4></div>
            </div>
            <div class="row">
              <div class="col-xs-2 time">18.00</div>
              <div class="col-xs-10 what"><h4>Opening ceremony</h4></div>
            </div>
            <div class="row">
              <div class="col-xs-2 time">18.30</div>
              <div class="col-xs-10 what"><h4>Presentation</h4></div>
            </div>
            <div class="row">
              <div class="col-xs-2 time">19.00</div>
              <div class="col-xs-10 what"><h4>Presentation</h4></div>
            </div>
            <div class="row">
              <div class="col-xs-2 time">24.00</div>
              <div class="col-xs-10 what"><h4>Doors close for the night</h4></div>
            </div>
          </div>

          <h2>Saturday 13.6.2015</h2>
          <div class="schedule">
            <div class="row">
              <div class="col-xs-2 time">8.00</div>
              <div class="col-xs-10 what"><h4>Doors open</h4></div>
            </div>
            <div class="row">
              <div class="col-xs-2 time">10.00</div>
              <div class="col-xs-10 what"><h4>Presentations / Seminars</h4></div>
            </div>
            <div class="row">
              <div class="col-xs-2 time"></div>
              <div class="col-xs-10 what"><h4>Doors are open all night</h4></div>
            </div>
          </div>

          <h2>Sunday 14.6.2015</h2>
          <div class="schedule">
            <div class="row">
              <div class="col-xs-2 time">14.00</div>
              <div class="col-xs-10 what"><h4>Deadline for demos</h4></div>
            </div>
            <div class="row">
              <div class="col-xs-2 time">17.00</div>
              <div class="col-xs-10 what"><h4>Showing demos</h4></div>
            </div>
            <div class="row">
              <div class="col-xs-2 time">18.00</div>
              <div class="col-xs-10 what"><h4>BBQ</h4></div>
            </div>
            <div class="row">
              <div class="col-xs-2 time">21.00</div>
              <div class="col-xs-10 what"><h4>Awards</h4></div>
            </div>
          </div>



      </div>
    </div>
    <div class="slide" id="insp-pic-slide1">
      <div class="ad-quote ad-quote-bigger">
        <strong>"</strong>
        Staggering! Made me want to code more!
        <strong>"</strong>
      </div>
    </div>
    <div class="slide" id="location-slide">
      <!--<iframe width="600" height="450" frameborder="0" style="border:0; width: 100%; min-height:100%;"
src="https://www.google.com/maps/embed/v1/place?q=Startup%20Sauna%2C%20Espoo%2C%20Finland&key=AIzaSyBM-nmwhSNGk7gQwWmUw6CWpVOqR3qZ8xY"></iframe>-->
      <div style="position: absolute; width: 100%; height:100%;">
        <div id="map-canvas" style="width: 100%; height: 100%;" width="500" height="500"></div>
        <div style="position: absolute; top: 0px; left:0px; width: 100%; height: 100%;">
          <div class="container">
            <div style="row">
              <div class="col-md-6 black-opacity-bg">
                <h1>Location</h1>
              </div>
              <div class="col-md-6 black-opacity-bg">
                <p>The event is held in <strong>Startup Sauna</strong> in Espoo, near Helsinki. The place can be reached easily with busses such as 102T and 550 or by car.</p>
                <p>
                  Betonimiehenkuja 3 D<br>
                  02150 Espoo
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mini-slide" id="media-slide">
      <div class="container">
        <h1>@Graffathon <small>on Twitter</small></h1>
        <a class="twitter-timeline" href="https://twitter.com/graffathon" data-widget-id="475305399256510464" data-chrome="nofooter transparent noheader" height="500">Twiittejä käyttäjältä @graffathon</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>
    <div class="slide" id="footer-slide">
      <div class="container">
        {#
        <h2>Sponsored by</h2>
        <div class="row">
          <div class="col-md-4">
            <div style="font-family:Oswald; color:rgb(230, 230, 230); background-color:rgb(40, 80, 120); padding: 30px; font-size: 70px; text-align: center; height: 1250x; line-height: 250px; text-shadow: rgba(23, 23, 23, 0.5) 2px 2px 8px;">
              YOU
            </div>
          </div>
        </div>
        #}
        <h2 style="opacity: 0;">Organized by</h2>

        <!--
        <div class="team-photos clearfix">
          <img src="http://www.graffathon.fi/static/img/team/antti.png">
          <img src="http://www.graffathon.fi/static/img/team/paula.jpg">
          <img src="http://www.graffathon.fi/static/img/team/ville.jpg">
          <img src="http://www.graffathon.fi/static/img/team/nils.png">
          <img src="http://www.graffathon.fi/static/img/team/sooda.jpg">
        </div>
        -->
        <div class="row">
          <div class="col-md-6 clearfix">
            <img class="logo" src="/static/img/inverted_dot_logo.svg" style="float:left;">
            <div style="float:left; font-size: 25px; line-height: 25x; padding-left: 40px; padding-top: 25px; font-family:Helvetica, Arial;">
              Digital Media Club<br>
              Aalto University
            </div>
          </div>
          <div class="col-md-6">
            <img src="http://aaltoes.com/wp-content/uploads/2015/02/aaltoeswireframe2.png" style="width: 100%;">
          </div>
        </div>

    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bower_components/jquery-smooth-scrolling/jquery.smoothscroll.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBM-nmwhSNGk7gQwWmUw6CWpVOqR3qZ8xY"></script>
    <script type="text/javascript">
      $('html').smoothScroll();
    </script>
      <script type="text/javascript">
        function initialize() {
          console.log("ASD");
          //60.180593,24.83239,17z
          var MY_MAPTYPE_ID = 'custom_style';
          var mapOptions = {
            center: { lat: 60.180593, lng: 24.87039},
            zoom: 14,
            scrollwheel: false,
            navigationControl: false,
            mapTypeControl: false,
            scaleControl: false,
            draggable: false,
            mapTypeControlOptions: {
              mapTypeIds: [google.maps.MapTypeId.ROADMAP, MY_MAPTYPE_ID]
            },
            mapTypeId: MY_MAPTYPE_ID,
            disableDefaultUI: true
          };
          var map = new google.maps.Map(
            document.getElementById('map-canvas'),
            mapOptions
          );
          var marker = new google.maps.Marker({
            position: { lat: 60.180593, lng: 24.83239},
            map: map,
            title: 'Startup Sauna'
          });
          marker.setAnimation(google.maps.Animation.BOUNCE);
          var featureOpts = [
              {
                stylers: [
                  { hue: '#deb510' },
                  { visibility: 'simplified' },
                  { gamma: 0.8 },
                  { weight: 0.5 }
                ]
              },
              {
                elementType: 'labels',
                stylers: [
                  { visibility: 'on' }
                ]
              },
              {
                featureType: 'water',
                stylers: [
                  { color: '#6da1f6' }
                ]
              }
          ];
          var styledMapOptions = {
            name: 'Custom Style'
          };
          var customMapType = new google.maps.StyledMapType(featureOpts, styledMapOptions);
          map.mapTypes.set(MY_MAPTYPE_ID, customMapType);
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</body>
</html>
